@charset "ISO-8859-1";

@media print {
           #finalPrint, #HomeBtn {
        	display :  none;
   			 }

            p {
                font-size: 11px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
               
            }
            
            #billList{
            	margin-left: -11px;
            }
           

            #addHeader{
                font-size: 13px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                display: inline;
            }

            #header {
                font-size: 13px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                display: inline;
               
            }
            #firstLine{
                margin-bottom: -20px;
            }
        }